
*{
    list-style: none;
    text-decoration: none;
}

a, a:hover, a:focus{
    color: inherit;
}
/*sidebar*/
#sidebar {
    min-height: 100%;
    width: 250px;
    display: inline-block;
    border-right: 1px solid #ccc;
    background-color: #f7f8f9;
}


/*.active{
    transition: 0.5s;
    left: 0;
}*/
#sidebar ul.components {
    padding: 0;
}

#sidebar ul li a {
    padding: 5px 5px 5px 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li.active > a,
i[aria-expanded="true"]{
    color:#000000;
}

a{
    position: relative;
}

.fa-caret-down{
    display: block;
    position: absolute;
    top: 20px;
    right: 10%;
    transform: translateY(-50%);
}

.fa-caret-down:hover{
    cursor:pointer;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px;
}

.border-li {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}

